// Colors
$color-primary: #0880AE;
$color-primary-light: #7C9CBF;
$color-title: #2C2738;
$color-text: #756F86;
$color-text-active: #2C2738;
$color-border: #DBE2EA;
$color-disabled-bg: #DBE2EA;
$color-disabled-text: #B1B5BF;
$color-light-bg: #EBF4F8;
$color-danger: #FF7171;

// Sizes
$size-normal-text: 16px;
$size-small-text: 14px;
$size-title-text: 34px;
$size-radius: 6px;